@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw9aXpsog.woff2) format('woff2');
}

/* * {
    font-family: 'Montserrat';
} */

.page {
    min-height: 100vh;
    margin: 0 auto;
}

.copyright{
    background: #f5f9fa;
}

.nav {
    box-shadow: 0 2px 10px #797979;
    height: 70px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.carousel {
    margin-top: 70px;
}

.cart {
    position: relative;
}

.cart:hover {
    cursor: pointer;
}

.cart img {
    width: 40px;
}

.cart-count {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 18px;
    font-size: 12px;
    font-weight: 700;
    top: 3px;
    right: -3px;
}

.header__slider {
    max-height: 562px;
    object-fit: cover;
    top: 70px;
}

.carousel {
    z-index: 0;
}

.carousel-inner {
    max-height: 562px;
}

.carousel-item {
    max-height: 562px;
    vertical-align: middle;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.categories {
    max-width: 1205px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.category-item {
    position: relative;
    flex: 1 1 auto;
}
.category-item:hover {
    transition: 1.5s;
    transform: scale(1.1);
}

.category-item:not(:hover) {
    transition: 1.5s;
}

.category-item-title {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #fff;
}

.category-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback {
    max-width: 600px !important;
}

.navbar {
    z-index: 1;
}

.main-category, .main-profile, .product-img, .cart-main {
    margin-top: 70px;
}

.suggestions-suggestions {
    cursor: pointer;
}

.card-img {
    height: 100%;
}
.cart-card-img {
    min-width: 250px;
    max-width: none;
}

.product-img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 767px) {
    .cart-card-img {
        max-height: 180px;
        max-width: 250px;
        min-width: 250px;
        object-fit: cover;
    }
}
.order{
    max-width: 630px;
    margin: 0 auto;
}

.promote-img {
    height: 400px;
    width: 320px;
    object-fit: cover;
}

.orders-main, .delivery-container{
    margin-top: 70px;
}

.delivery-map{
    position: relative;
}

/* .delivery-info{
    position: absolute;
    top: 0;
    right: 70px;
    background: #fff;
    max-width: 350px;
} */

.delivery-info li::before{
    font-size: 20px;
    color: #38b49c; 
    content: '\2022'; 
    padding-right: 8px; 
}

/* .dropdown-menu {
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    transform: translateY(0);
    opacity: 1;
}

.dropdown-menu {
    animation: slideDown 0.5s forwards;
  }
  
  @keyframes slideDown {
    0% {
      transform: translateY(-10px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
} */

@media screen and (min-width: 992px){
    .delivery-info{
        position: absolute;
        top: 0;
        right: 70px;
        background: #fff;
        max-width: 350px;
        }
}
@media screen and (min-width: 767px){
    .pr-descript{
        width: 50%;
    }
}
@media screen and (max-width: 767px){
    iframe{
        max-height: 250px;
    }
}
